@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Name of article</p>
<p>Date 11.11.18</p>
<p>Whzjbf  ktrgh krtjhg gkejrs rhgbkf gkergb jtgbs gjstr grtk hgrtkjgs kjgtbr.</p>